<div class="grid-container" id="wrapper-<%= merch.merchFile._id %>">
    <div class="grid-item grid-item-<%= merch._id %> unspoken-smart-image-cropper a" data-large="true" data-id="<%= merch._id %>" data-parent="wrap-<%= merch.merchFile._id %>-target" data-src="<%= merch.merchFile.filePath %>" id="wrap-<%= merch.merchFile._id %>-target">
        <div class="crop-cover">
            <img class="cropped-image">
        </div>
        <div class="skeleton-box"></div>
    </div>
    <div class="grid-item grid-item-<%= merch._id %> unspoken-smart-image-cropper b" data-id="<%= merch._id %>" data-parent="wrap-<%= merch.merchFile._id %>-target" data-src="/app-assets/images/new/i2.webp" id="wrap-<%= merch.merchFile._id %>-p1">
        <div class="crop-cover">
            <img class="cropped-image">
        </div>
        <div class="skeleton-box"></div>
    </div>
    <div class="grid-item grid-item-<%= merch._id %> unspoken-smart-image-cropper c" data-id="<%= merch._id %>" data-parent="wrap-<%= merch.merchFile._id %>-target" data-src="/app-assets/images/new/i5.webp" id="wrap-<%= merch.merchFile._id %>-p2">
        <div class="crop-cover">
            <img class="cropped-image">
        </div>
        <div class="skeleton-box"></div>
    </div>
    <div class="grid-item grid-item-<%= merch._id %> unspoken-smart-image-cropper d" data-id="<%= merch._id %>" data-parent="wrap-<%= merch.merchFile._id %>-target" data-src="/app-assets/images/new/i4.webp" id="wrap-<%= merch.merchFile._id %>-p3">
        <div class="crop-cover">
            <img class="cropped-image">
        </div>
        <div class="skeleton-box"></div>
    </div>
    <div class="grid-item grid-item-<%= merch._id %> unspoken-smart-image-cropper e" data-id="<%= merch._id %>" data-parent="wrap-<%= merch.merchFile._id %>-target" data-src="/app-assets/images/new/i1.webp" id="wrap-<%= merch.merchFile._id %>-p4">
        <div class="crop-cover">
            <img class="cropped-image">
        </div>
        <div class="skeleton-box"></div>
    </div>
</div>
